body {
  margin: 0;
  padding: 0;

  background-color: rgb(242, 242, 242);

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

.shadow {
  width: 1200px;
  margin: 0 auto;

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}

/* СТИЛИЗАЦИЯ НАВИГАЦИИ */

.main-header {
  width: 1200px;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 63px;
  margin-right: auto; 
  padding: 0;

  background-color: rgb(255, 255, 255);
}

.background {
  position: relative;
  top: 0;

  width: 1200px;
  height: 506px;
  margin: 0;

  background-color: rgb(222, 222, 222);
  background-image: url("../img/background.jpg");
  background-position: center -3px;
  background-repeat: no-repeat;
}

.background::before {
  position: absolute;
  top: 75px;
  left: 50%;

  width: 458px;
  height: 352px;
  margin: 0 -229px;

  background-image: url("../img/welcome.svg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  content: "";
}

.main-part {
  width: 1200px;
  margin: 0 auto;

  background-color: rgb(255, 255, 255);
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-menu li { 
  width: 20%;
  margin: 0;
  padding: 15px 0 ;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-align: center;

  line-height: 26px;
  font-weight: 700;
}

.main-menu li:nth-child(4n - 2) {
  margin-right: 20%;
}

.main-menu li:nth-child(4n - 2),
.main-menu li:nth-child(4n - 3) {
  padding-left: 71px;

  text-align: left;
}

.main-menu li:nth-child(4n - 1),
.main-menu li:nth-child(4n) {
  padding-right: 71px;

  text-align: right;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  outline: none;

  color: rgb(0, 0, 0);
  text-decoration: none;
}

.main-menu a:hover,
.main-menu a:focus {
  color: rgb(129, 179, 210);
}

.main-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  margin: 0 -70px;
}

.main-part h1,
.advantages h3,
.main-footer span,
.hotel-search-button,
.hotel-search a {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

/* СТИЛИЗАЦИЯ ОСНОВНОГО КОНТЕНТА */

.main-part h1 {
  display: inline-block;
  vertical-align: top;
  width: 445px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 29px;
  margin-right: 0;
  padding: 0;

  line-height: 26px; 
}

.advantages h2 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
}

.advantages h2,
span.developer {
  font-size: 14px;
  font-weight: 400;
}

.advantages-list,
.advantages-list-top,
.advantages-list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
           align-self: center;
  -ms-flex-preferred-size: content;
               flex-basis: content;
  margin: 0;
  padding: 0;
}

.advantages h3 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0 70px;
}

.advantages span {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 21px;
}

.advantages p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.advantage-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;

    background-color: rgb(129, 179, 210);

    color: rgb(255, 255, 255);
}

.advantage-item-wrap {
  width: 400px;
  padding-top: 48px;
  padding-bottom: 59px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantage-item-wrap-top {
  padding-left: 51px;
  padding-right: 51px;
}

.advantage-item-wrap-bottom {
  padding-top: 47px;
  padding-left: 40px;
  padding-bottom: 60px;
  padding-right: 40px;
}

.advantage-item-wrap h3 {
  padding: 0 65px; 
}

.advantage-item-top::after {
  width: 800px;

  background-color: rgb(255, 255, 255);
  background-image: url("../img/advantage-first.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  content: "";
}

.advantage-item-bottom {
  margin-top: 2px;
}
.advantage-item-bottom::before {
  width: 800px;

  background-color: rgb(255, 255, 255);
  background-image: url("../img/advantage-second.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  content: "";
}

.advantage-item-feature {
  width: 33.33%;
  padding-top: 162px;
  padding-left: 55px;
  padding-bottom: 80px;
  padding-right: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: rgb(255, 255, 255);
  background-position: center 60px;
  background-repeat: no-repeat;
}

.advantages-list-top li:first-child {
  background-image: url("../img/house-icon.svg");
}

.advantages-list-top li:nth-child(2) {
  background-image: url("../img/food-icon.svg");
}

.advantages-list-top li:nth-child(3) {
  background-image: url("../img/gift-icon.svg");
  background-position: center 56px;
}

.advantages-list-bottom {
  background-color: rgb(238, 238, 238);
}

.advantages-list-bottom li {
  width: 33.33%;
  padding-top: 48px;
  padding-left: 65px;
  padding-bottom: 59px;
  padding-right: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-part {
  text-align: center;
}

.main-menu ul,
.advantages-list-top,
.advantages-list-bottom {
  list-style: none;
}

/* ФОРМА ПОИСКА ОТЕЛЯ */
.hotel-search {
  margin: 0 auto;
  padding-top: 54px;
}

.hotel-search b,
.main-part h1,
.advantage-item:nth-child(n+2) h3,
.advantage-item:nth-child(5):not{
  color: rgb(0, 0, 0);
}

.hotel-search b {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 12px;

  font-size: 30px;
  font-weight: 700;
  line-height: 31px;
}

.hotel-search .hotel-paragraph {
  display: block;
  margin-bottom: 46px;
  padding: 0 370px;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;

  line-height: 24px;
}

.hotel-search > a {
  display: block;
  width: 568px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 32px;

  background-color: rgb(118, 99, 87);

  color: rgb(255, 255, 255);

  cursor: pointer;
}

.hotel-search > a:hover,
.hotel-search > a:focus {
  background-color: rgb(96, 78, 67);

}
.hotel-search > a:active {
  background-color: rgb(80, 62, 51);

  color: rgba(255, 255, 255, 0.3);
}

.form-item label,
.form-item-wrapper label {
  font-size: 14px;
  font-weight: 700;
}

.form-item-wrapper label {
  margin-left: -1px;
}

.form-item input {
  width: 293px;
  padding-top: 12px;
  padding-left: 13px;
  padding-bottom: 10px;
  padding-right: 40px;

  background-color: rgb(242, 242, 242);
  border: 0;

  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-wrapper {
  position: relative;
}

.hotel-search-inner {
  position: absolute;
  left: -284px;

  width: 458px;
  margin: 0 50%;
  padding: 55px 55px;

  background-color: rgb(255, 255, 255);

  -webkit-animation: displacement-open 0.4s;
          animation: displacement-open 0.4s;
}

/* СКРЫТИЕ ФОРМЫ (ДЛЯ JS) */
.form-invisible {
  display: none;
}

@-webkit-keyframes displacement-open {
  0% {-webkit-transform: translateY(100%);transform: translateY(100%)}
  40% {-webkit-transform: translateY(0%);transform: translateY(0%)}
  60% {-webkit-transform: translateY(10%);transform: translateY(10%)}
  100% {-webkit-transform: translateY(0);transform: translateY(0)}
}

@keyframes displacement-open {
  0% {-webkit-transform: translateY(100%);transform: translateY(100%)}
  40% {-webkit-transform: translateY(0);transform: translateY(0)}
  60% {-webkit-transform: translateY(10%);transform: translateY(10%)}
  100% {-webkit-transform: translateY(0);transform: translateY(0)}
}

/* @keyframes displacement-open {
  0% {height: 0px;}
  10% {height: 40px;}
  20% {height: 80px;}
  30% {height: 120px;}
  40% {height: 160px;}
  50% {height: 200px;}
  60% {height: 240px;}
  70% {height: 280px;}
  80% {height: 320px;}
  90% {height: 360px;}
  100% {height: 400px;}
} */

div .inline-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width: 227px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 25px;
  margin-right: 0;
  padding: 0;
}

.inline-item input {
  margin-bottom: 0;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.form-item .calendar-icon {
  position: absolute;
  right: 62px;

  display: inline-block;
  vertical-align: top;
  width: 23px;
  height: 23px;
  margin: 0;
  padding: 0;

  background-image: url("../img/calendar-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  opacity: 0.3;

  cursor: pointer;
}

.form-item .calendar-icon:hover,
.form-item .calendar-icon:focus {
  opacity: 1;
  outline: none;
}

.form-item .calendar-icon:active {
  background-image: url("../img/calendar-active.svg");
  opacity: 1;
}

.form-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width: 100%;
}

.form-item-right {
  margin-left: 52px;
}

.form-item-wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.form-item-wrapper-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: end;
     -ms-flex-pack: end;
   justify-content: end;
}

.inline-item .form-people {
  width: 38px;
}

.form-item-wrapper input {
  height: 16px;
  padding-top: 13px;
  padding-left: 0;
  padding-bottom: 9px;
  padding-right: 0;

  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.form-item input:hover {
  background-color: rgb(235, 235, 235);
}

.form-item input:focus {
  background-color: rgb(255, 255, 255);
  outline: 2px solid rgb(229, 229, 229);
}

.button {
  position: relative;

  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  background-color: rgb(242, 242, 242);
  border: 0;
  outline: none;

  color: rgb(169, 169, 169);
  
  cursor: pointer;
}

.button:focus line,
.button:hover line {
  stroke: rgb(0, 0, 0);
}

.button:active line {
  stroke: rgb(129, 179, 210);
}

.form-item-wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  margin-top: -5.5px;
  margin-left: -5.5px;
}

.hotel-search-button {
  width: 100%;
  margin-top: 30px;
  padding-top: 18px;
  padding-left: 0;
  padding-bottom: 16px;
  padding-right: 0;

  background-color: rgb(129, 179, 210);
  border: 0;
  outline: none;

  color: rgb(255, 255, 255);
  font-weight: 700;

  cursor: pointer;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: rgb(102, 158, 192);
}

.hotel-search-button:active {
  background-color: rgb(84, 150, 189);

  color: rgba(255, 255, 255, 0.3);
}

/* СТИЛИЗАЦИЯ ФУТЕРА */

.main-footer {
  position: absolute;
  left: 0%;
  right: 0%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  width: 1200px;
  margin: -126px auto;
  padding-top: 31px;
  padding-left: 133px;
  padding-bottom: 35px;
  padding-right: 101px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: rgba(253, 253, 253, 0.9);
}

.main-footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-footer a {
  margin: 0;
  padding-top: 9px;
}

/* CТИЛИЦАЗИЯ СОЦСЕТЕЙ */
.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 350px;
  margin: 0;
  margin-top: 1px;
  margin-left: 23px;
  padding: 0;

  list-style: none;
  outline: none;
}

.feedback li {
  position: relative;

  width: 46px;
  height: 48px;
  margin-left: 6px;

  background-color: rgb(129, 179, 210);
}

.feedback a:hover,
.feedback a:focus {
  background-color: rgb(102, 158, 192);
}

.feedback a:active .feedback-icon {
  background-color: rgb(84, 150, 189);
  fill: rgb(136, 182, 209);
}

.feedback a {
  display: block;
  width: 46px;
  height: 39px;

  outline: none;
}

.feedback svg {
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* CТИЛИЦАЗИЯ ИКОНКИ HTML ACADEMY */

span.developer {
  margin-right: 8px;
}

a .developer-icon {
  fill: rgb(0, 0, 0);
}

.developer-link {
  outline: none;
}

.developer-link:hover .developer-icon,
.developer-link:focus .developer-icon {
  fill: rgb(129, 179, 210);
}

.developer-link:active .developer-icon {
  fill: rgb(189, 187, 188);
}

/* СТИЛИЗАЦИЯ ВНУТРЕННЕЙ СТРАНИЦЫ */

.inner {
  background-color: rgb(242, 242, 242);
}

.inner .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  margin-bottom: 0;
}

.main-inner {
  width: 1200px;
  margin: 0 auto;

  background-color: rgb(255, 255, 255);
}

/* СТИЛИЗАЦИЯ ФОРМЫ ПОДБОРА ОТЕЛЯ */

.search-option {
  width: 1200px;
  height: 100%;

  background-color: rgb(129, 179, 210);
  background-image: url("../img/background-inner.jpg");
  background-position: center -40px;
  background-repeat: no-repeat;
}

.search-option form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  padding-top: 28px;
  padding-left: 72px;
  padding-bottom: 6px;
  padding-right: 72px;

  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.search-option span {
  max-width: 250px;
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 700;
}

.search-option label {
  max-width: 250px;
}

.option-column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}

.option-column-left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}

.option-column-left div:first-child {
  margin-right: 120px;
}

.option-column-left label {
  position: relative;

  margin-bottom: 25px;
  padding-left: 40px;

  cursor: pointer;
}

.option-column-input + label::before {
  position: absolute;
  top: -1px;
  left: 0;

  width: 28px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;

  content: "";
}

.option-column-input:disabled + label::before {
  opacity: 0.3;
}

.option-column-input:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.option-column-input:checked:disabled + label::before {
  opacity: 0.3;
}

/* Стиль добавлен для понимания положения фокуса при переходе по странице табом  */
.option-column-input:focus + label {
  outline: none;

  font-size: 16px;
}

/* РАЗМЕТКА ФИЛЬТРА ЦЕНЫ */

.filter-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  width: 320px;
  margin-right: -2px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 32px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;

  font-size: 0;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  
  content: "";
}

.price-controls label {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 32px;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  background-color: transparent;
  border: none;

  color: inherit;
  font: inherit;
  line-height: 29px;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  outline: none;
          
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  background-color: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding-top: 7px;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-right: 30px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  outline: none;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: #ffffff;

  color: #000000;
}

/* СТИЛИЗАЦИЯ СОРТИРОВКИ */
.sort ul,
.hotels-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
     -ms-flex-align: baseline;
        align-items: baseline;
  margin: 0;
  padding-top: 33px;
  padding-left: 72px;
  padding-bottom: 29px;
  padding-right: 72px;
}

.sort b {
  margin: 0;
  margin-right: 33px;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  font-size: 21px;
  font-weight: 700;
}

.sort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.sort-wrapper {
  max-width: 600px;
}

.sort-wrapper li {
  margin: 0;
  margin-right: 32px;
  padding: 0;

}

.sort span {
  width: 100px;
  margin-right: 15px;
}

.sort-type {
  font-size: 12px;
}

.sort a {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  -webkit-text-decoration: underline rgb(129, 179, 210);
          text-decoration: underline rgb(129, 179, 210);
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.sort a:hover,
.sort a:focus {
  color: rgb(129, 179, 210);
}

.sort a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.sort .active-link,
.sort .active-link:active {
  color: rgb(129, 179, 210);
  text-decoration: none;
}

.sort-price {
  position: absolute;
  right: 67px;

  max-width: 200px;
}

.sort-price li {
  margin: 1px 6px;
  padding: 0;
}

.sort-button path {
  fill: rgb(202, 202, 202);
}

.sort-button:focus path,
.sort-button:hover path {
  fill: rgb(0, 0, 0);
}

.sort-button:active path,
.sort-button-active path,
.sort-button-active:hover path,
.sort-button-active:focus path {
  fill: rgb(129, 179, 210);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* СТИЛИЗАЦИЯ БЛОКА ОТЕЛЕЙ */
.hotel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  margin: 0;
  padding: 30px 72px;

  border-top: 1px solid rgb(229, 229, 229);
  list-style: none;
}

.hotel-item:last-child {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.hotel-item img {
  margin-right: 30px;
}

.hotel-item-block h2 {
  max-width: 600px;
  margin: 0;
  padding: 0;
}

.hotel-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  width: 100%;
  margin-top: -5px;
}

.hotel-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  max-width: 750px;
  min-height: 90px;
}

.hotel-item-block:last-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotel-item-right {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hotel-item-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 260px;
  margin-top: -4px;
}

.hotel-item-about span {
  display: inline-block;
  vertical-align: top;
}

.hotel-item-price {
  margin-right: 75px;
}

.main-menu .main-menu-active,
.main-menu .main-menu-active:hover,
.main-menu .main-menu-active:focus,
.main-menu .main-menu-active:active {
  color: rgb(118, 99, 87);
  font-weight: 700;
}

.hotel-item-btn {
  margin-bottom: -2px;
}

.hotel-item-btn a {
  display: inline-block;
  vertical-align: top;
  padding: 3px 17px;
}

.button-more {
  margin-right: 1px;

  background-color: rgb(129, 179, 210);

  color: rgb(255, 255, 255);
}

.button-more:hover,
.button-more:focus {
  background-color: rgb(102, 158, 192);
}

.button-more:active {
  background-color: rgb(84, 150, 189);

  color: rgba(255, 255, 255, 0.3);
}

.button-booking {
  background-color: rgb(118, 99, 87);

  color: rgb(255, 255, 255);
}

.button-booking:hover,
.button-booking:focus {
  background-color: rgb(96, 78, 67);
}

.button-booking:active {
  background-color: rgb(80, 62, 51);

  color: rgba(255, 255, 255, 0.3);
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: rgb(129, 179, 210);
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.stars {
  position: absolute;
  top: 2px;
  right: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 230px;
}

.stars li {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-left: 9px;
  padding: 0;

  background-image: url("../img/star.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.hotel-item-rating {
  position: absolute;
  bottom: -2px;
  right: 0;

  display: block;
  padding: 3px 14px;
  white-space: nowrap;

  background-color: rgb(242, 242, 242);

  color: rgb(102, 102, 102);
}

.inner .main-footer {
  position: relative;

  margin: 0 auto;
}